:root {
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --brand-color: #2196f3;
  --logo-black-font-color: #000000;
  --logo-white-font-color: #ffffff;
  --black-box-color: #2f303a;
  --our-crew-background: #f5f4fa;
  --focus-color: palevioletred;
  --footer-contact-link-color: #ffffff99;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  min-height: 100%;
}

.container {
  width: 1200px;
}

ul {
  list-style-type: none;
}

h1 {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75em;
  color: var(--logo-white-font-color);
}

h2 {
  text-align: center;
}
h3 {
  text-align: left;
}


/*navbar and links start*/

.navbar {
  display: flexbox;
  width: 1600px;
  height: 80px;
}
.logo-box a {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;
  width: 145px;
  height: 31px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link-box li {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.contact-link-box a {
  flex-direction: row;
  justify-content: center;
}
.navbar .nav-list a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}


/*navbar and links end*/

/*logo start*/

.brand-color {
  color: var(--brand-color);
}

.top-brand-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-black-font-color);
}
.bottom-brand-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-white-font-color);
}

a.top-link:hover {
  color: var(--brand-color);
}
a.top-link:active {
  color: var(--brand-color);
}
a.top-link:focus {
  color: var(--focus-color);
}

a.bottom-link {
  color: var(--footer-contact-link-color);
  text-decoration: none;
}
a.bottom-link:hover {
  color: var(--brand-color);
}
a.bottom-link:active {
  color: var(--brand-color);
}
a.bottom-link:focus {
  color: var(--focus-color);
}

/*Main start */

.big-black-box {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;

  width: 1600px;
  height: 600px;
  top: 80px;
  background: var(--black-box-color);
}

.bigest-text {
margin: 200px 452px 280px 452px;
flex-wrap: wrap-reverse;
}

.studio-button {
  padding: 10px 41px 10px 42px;
  margin: 350px 700px 200px 700px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87em;
  background-color: var(--brand-color);
  text-decoration-color: var(--logo-white-font-color);
  cursor: pointer;
}
/*button end*/

/*our-strengths start*/

.our-strengths {
  width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content:space-between;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-font-color);
}

/*workscope start*/

.workscope {
  display: flex;
  width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px;
  margin-top: 10px;
}

.title {
padding: 20px;
}

.list-of-activities li {
  justify-content: space-around;
}
.ws-part {
  display: flex;
  flex-direction:column;
}
/*workscope end*/

/*our-crew start*/

.our-crew {
  align-items: center;
  width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: var(--our-crew-background);
}

.list-of-our-crew {
  display: inline-flex;
}

/*our-crew end*/

/*footer start*/

.little-black-box {
  display: inline-block;
  text-decoration: none;

  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;

  background: var(--black-box-color);
}

/*------

only portfolio styles start

*/
------




/*buttons start*/

.filters-box {
  display: flex;
}

.portfolio-page-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;

  margin-top: 94px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  border-color: var(--our-crew-background);
  background: var(--our-crew-background);
  transition-duration: 0.3s;
}

.portfolio-page-buttons :hover {
  background-color: var(--brand-color);
  color: var(--our-crew-background);
  border-color: var(--brand-color);
}

/*buttons end*/

/*projects start*/

.projects-box {
  padding-bottom: 40px;
}

.first-line-of-projects {
  display: flex;
}
.projects-1img {
  display: block;
}
.projects-2img {
  display: block;
}
.projects-3img {
  display: block;
}


.second-line-of-projects {
  display: flex;
}
.project-block {
  display: block;
}
.projects-5img {
  display: block;
}
.projects-6img {
  display: block;
}


.third-line-of-projects {
  display: flex;
}
.projects-7img {
  display: block;
}
.projects-8img {
  display: block;
}
.projects-9img {
  display: block;
}

/*projects end*/
