:root {
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --brand-color: #2196f3;
  --logo-black-font-color: #000000;
  --logo-white-font-color: #ffffff;
  --black-box-color: #2f303a;
  --our-crew-background: #f5f4fa;
  --focus-color: palevioletred;
  --footer-contact-link-color: #ffffff99;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  min-height: 100%;
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

h1 {
  width: 696px;
  height: 120px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.75em;
  color: var(--logo-white-font-color);
}

h2 {
  text-align: center;
  font-size: 36px;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0px;
}
h3 {
  text-align: left;
}

/*navbar and links start*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}


.top-brand-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-black-font-color);
}
.bottom-brand-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: var(--logo-white-font-color);
}

a.top-link:hover {
  color: var(--brand-color);
}
a.top-link:active {
  color: var(--brand-color);
}
a.top-link:focus {
  color: var(--focus-color);
}

a.bottom-link {
  color: var(--footer-contact-link-color);
  text-decoration: none;
}
a.bottom-link:hover {
  color: var(--brand-color);
}
a.bottom-link:active {
  color: var(--brand-color);
}
a.bottom-link:focus {
  color: var(--focus-color);
}


.logo-box a {
  display: flex;
  align-items: center;
  text-decoration: none;

  /*padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;
  width: 145px;
  height: 31px;*/
}

.nav-link-box {
  display: flex;
  flex-direction: row;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link-box a {
  color: var(--main-font-color);
}

.contact-link-box {
  display: flex;
  flex-flow: row;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-link-box a {
  color: var(--main-font-color);
}

.navbar .nav-link-box a {
display: flex;
flex-direction: row;
}
/*navbar and links end*/

/*logo start*/

.brand-color {
  color: var(--brand-color);
}


/*Main start */

.big-black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 600px;
  background: var(--black-box-color);
}

.bigest-text {
  display: flex;
  justify-content: center;

  flex-wrap: wrap-reverse;
}

.studio-button {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  padding: 10px 41px 10px 42px;
  width: 200px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87em;
  background-color: var(--brand-color);
  color: var(--logo-white-font-color);
  cursor: pointer;
}
/*button end*/


/*our strengths and workscope start*/

/*our-strengths start*/

.our-strengths {
  
  display: flex;
  flex-direction: row;
  padding: 15px 94px 15px 94px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  column-gap: 30px;
  justify-content:center;
  text-decoration: none;
  color: var(--secondary-font-color);
}
.notes {
  align-content: center;
}

/*workscope start*/
.workscope {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.list-of-activities {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.os-ws {
display: flex;
flex-direction: column;
justify-content: center;
}
/*workscope end*/

/*our strengths and workscope end*/


/*our-crew start*/

.our-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--our-crew-background);
}

.list-of-our-crew {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.oc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--logo-white-font-color);
  margin: 15px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*our-crew end*/

/*footer start*/

.little-black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--black-box-color);
}
.bottom-things {
  display: flex;
  flex-direction: column;
  padding: 60px 0px 60px 215px;
}
/*------

only portfolio styles start

*/
------




/*buttons start*/

.filters-box {
  display: flex;
}

.portfolio-page-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;

  margin-top: 94px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  border-color: var(--our-crew-background);
  background: var(--our-crew-background);
  transition-duration: 0.3s;
}

.portfolio-page-buttons :hover {
  background-color: var(--brand-color);
  color: var(--our-crew-background);
  border-color: var(--brand-color);
}

/*buttons end*/

/*projects start*/

.projects-box {
  padding-bottom: 40px;
}

.first-line-of-projects {
  display: flex;
}
.projects-1img {
  display: block;
}
.projects-2img {
  display: block;
}
.projects-3img {
  display: block;
}

.second-line-of-projects {
  display: flex;
}
.project-block {
  display: block;
}
.projects-5img {
  display: block;
}
.projects-6img {
  display: block;
}

.third-line-of-projects {
  display: flex;
}
.projects-7img {
  display: block;
}
.projects-8img {
  display: block;
}
.projects-9img {
  display: block;
}

/*projects end*/
